.list {
  max-width: var(--w-index);
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: var(--rule);
}

.list li {
  border-bottom: var(--rule);
}

.tagCloud {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: var(--w-index);
  margin: 0;
  padding: 0;
  list-style: none;
}
